.header {
    background-color: rgb(28, 21, 21);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;
}

.headerTitle {
    color: bisque;
    display: flex;
    flex-direction: column;
    margin: 1em 1em 0 1em;
}

.subtitle {
    font-size: 2em;
    font-weight: bold;
}

.navbar {
    margin: 0 1em 0.5em 1em;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: goldenrod;
    font-style: italic;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: bold;
}


@media (min-width: 768px) {

    .header {
        flex-direction: row;
        padding: 2em;
    }
    .title {
        flex-direction: column;
        font-size: 2.5em; 
    }

    .subtitle {
        font-size: 3em;
        display: flex;
        margin-left: 2em;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 6em;
        margin-bottom: 0;
    }

    .navbar ul li {
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        margin-right: 1em;
    }
}